input[type=text]{
    border: 2px solid black;
    border-radius: 10px;
    width: 30%;
    height:50px;
    padding:8px 16px;
    font-size:20px;

}

button {
  margin:10px;
  display: inline-block;
  padding: 12px 18px;
  font-size: 16px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #4CAF50;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
}

button:hover {background-color: #3e8e41}

button:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
body{
    text-align: center;
   background: linear-gradient(#648880, #293f50);
}
.resultTable{
    display: inline-block;
    margin: auto;
    border: 2px solid grey;
    background-color: cyan;
    border-radius: 15px;
}
h2{
 color: #fff;
 margin: auto;
 margin-left: -60px;
}